workflows/02_gestion_documental.json
{
  "name": "Paquete 2: Gestion Documental Inteligente",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "event": "email.received",
        "options": {}
      },
      "name": "Email Trigger (con PDF)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "options": {}
      },
      "name": "Extraer Texto de PDF",
      "type": "n8n-nodes-base.pdf",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "Clasifica el siguiente documento legal: {{$json.body.text}}",
        "options": {}
      },
      "name": "Clasificar con IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "path": "/Expedientes/{{$json.body.caseId}}/",
        "fileName": "{{$json.body.documentType}}.pdf",
        "options": {}
      },
      "name": "Guardar en Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "channel": "#documentos",
        "text": "Nuevo documento clasificado en el expediente {{$json.body.caseId}}"
      },
      "name": "Notificar",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Email Trigger (con PDF)": {
      "main": [
        [
          {
            "node": "Extraer Texto de PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto de PDF": {
      "main": [
        [
          {
            "node": "Clasificar con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar con IA": {
      "main": [
        [
          {
            "node": "Guardar en Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Google Drive": {
      "main": [
        [
          {
            "node": "Notificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "2"
}
