workflows/05_base_conocimiento_rag.json
{
  "name": "Paquete 5: Base de Conocimiento RAG",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "webhook-rag",
        "httpMethod": "POST",
        "options": {}
      },
      "name": "Webhook (Consulta de Abogado)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "query": "{{$json.body.query}}",
        "options": {}
      },
      "name": "Buscar en Vector DB",
      "type": "n8n-nodes-base.vectorStore",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "Contexto: {{$json.body.vectorResults}}\\n\\nPregunta: {{$json.body.query}}\\n\\nResponde basándote en el contexto.",
        "options": {}
      },
      "name": "Generar Respuesta con RAG",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Enviar Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (Consulta de Abogado)": {
      "main": [
        [
          {
            "node": "Buscar en Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en Vector DB": {
      "main": [
        [
          {
            "node": "Generar Respuesta con RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta con RAG": {
      "main": [
        [
          {
            "node": "Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "5"
}
